body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
}
#featured-review {
    display: block;
    width: 100%;
}

#window-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999999;
}
#window-mask.open
{
display: block;
}
.pop-up
{
width:70%;
height: 80%;
position: absolute;
left: 15%;
top: 20%;
margin-top: -50px;
}
.pop-up-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding:20px;
    overflow: hidden;
}

#window-mask.hidden {
    display: none;
  }
.pop-up-header
{
width: 100%;
height: 40%;
}
.pop-up  p
{
margin: 10px 50px;
}
.pop-up h3
{
margin: 10px 50px;
}
.pop-up .response
{
width: 100%;
height: 20%;
margin-top: 10px;
display: block;
position: absolute;
bottom: 0;
box-shadow: 0 0 0 6px rgba(0,0,0, 0.12)

}
.pop-up .response div
{
width:49%;
height: 100%;
margin: 0;
padding: 0;
display: inline-block;
text-align: center;
line-height: 90px;

}
.pop-up .response div:first-child
{
box-shadow: 0 6px 0 6px rgba(0,0,0, 0.12)
}
.description
{ 
height:75px;
overflow-y:scroll;
}
